body{
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}
.navbar {
    background: #b44646;
    padding: 10px;
    z-index: 2;
}
.nav-link,.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}

.header {
    background-image: url('pesawat.png');
    background-size: cover; 
    background-position: center;
    position: relative;
    height: 91vh;
}

.overlay {
    position: absolute;
    min-height: 99%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.514);
}

.description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
    margin-top:100px;;
}

.description h1 {
    color: #b44646;
}
.description p {
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.5;
}
.description button {
    border: 1px solid #703f3f;
    background: #b44646;
    border-radius: 0;
    color: #fff;
    border-radius: 10px;
}
.description button:hover {
    border: 1px solid #fff;
    background: #fff;
    color: #000;
}

.features {
    margin: 4em auto;
    padding: 1em;
    position: relative;
}
.feature-title {
    color: #333;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.features img {
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 16px;
} 

.features .form-control,.features input {
    border-radius: 0;
}
.features .btn {
    border: 1px solid #703f3f;
    background: #b44646;
    color: #fff;
    margin-top: 20px;
    padding-left: 160px;
    padding-right: 160px;
    border-radius: 7px;

}
.features .btn:hover {
    background-color: #333;
    border: 1px solid #333;
}

.features .form-control {
    border-radius: 7px;
    margin-bottom : 21px;
}

.page-footer {
    background-color: #222;
    color: #ccc;
    padding: 60px 0 30px;
}
.footer-copyright {
    color: #666;
    padding: 40px 0;
}

@media (max-width: 575.98px) {
    .description {
        left: 0;
        padding: 0 15px;
        position: absolute;
        top: 10%;
        transform: none;
        text-align: center;
    }
    .description h1 {
        font-size: 2em;
    }
    .description p {
        font-size: 1.2rem;
    }
    .features {
        margin: 0;
    }
    }